<launch>

  <arg name="world_path" default="$(find uavros_gazebo)/worlds/precision_landing.world" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_path)"/>
	</include>

<arg name="ns1" value="uav1"/>
<arg name="ns2" value="uav2"/>
<arg name="ns3" value="ugv3"/>

<group ns="$(arg ns1)">
        <!-- MAVROS and vehicle configs -->
  	<arg name="sdf" default="$(find uavros_gazebo)/models/iris_usb_camera_down/iris_usb_camera_down.sdf"/>
        <arg name="ID" value="1"/>
        <arg name="cam_namespace" value="$(arg ns1)"/>
        <arg name="x_pos" value="-1"/>
        <arg name="y_pos" value="0.4"/>
        <arg name="z_pos" value="1.5"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find uavros_gazebo)/launch/single_iris_usbcam_down.launch">
            <arg name="x" value="$(arg x_pos)"/>
            <arg name="y" value="$(arg y_pos)"/>
            <arg name="z" value="$(arg z_pos)"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="1.570796"/>
            <arg name="sdf" value="$(arg sdf)"/> <!--add by spx-->
            <arg name="camNamespace" value="$(arg cam_namespace)"/> <!--add by spx-->
            <arg name="mavlink_udp_port" value="$(eval 14560 + arg('ID'))"/>
            <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>

  <arg name="smallMarker_size" value="12.92"/> <!--cm-->
  <arg name="bigMarker_size" value="38.76"/> <!--cm-->

	<include file="$(find uavros_artaglanding_sitl)/launch/ar_track_camera_sitl.launch" >
		<arg name="marker_size" value="$(arg smallMarker_size)" />
	</include>

	<node pkg="uavros_artaglanding_sitl" type="landing_control_p200_node" name="landing_control_p200_node" output="screen" >
		<param name="search_alt_" value = "3.2"/>	<!--2.2m-->
		<param name="small_marker_id" value = "0"/>  
		<param name="big_marker_id" value = "4"/> 
		<param name="big_marker_size" value = "$(arg bigMarker_size)"/>
		<param name="small_marker_size" value = "$(arg smallMarker_size)"/>
		<param name="PidXY_p" value = "0.7"/>	<!--0.5-->
		<param name="PidXY_d" value = "0.1"/>	
		<param name="PidXY_i" value = "0"/>	<!--should be 0-->
		<param name="PidZ_p" value = "0.08"/>	<!--no use-->
		<param name="PidZ_d" value = "0"/>	<!--no use-->
		<param name="PidZ_i" value = "0"/>	<!--should be 0-->
		<param name="PidYaw_p" value = "0.13"/>	<!--0.13-->
		<param name="PidYaw_d" value = "0"/>	
		<param name="PidYaw_i" value = "0"/> <!--should be 0-->
  <!--降准的关键：高度高，下降速度小-->
		<param name="Thres_count_approach" value = "20"/>	<!--9-->
		<param name="Thres_count_small" value = "35"/>	<!--35-->
		<param name="Thres_height_small" value = "1.6"/>	<!-- lower than 1m then switch to small tag -->
		<param name="Thres_count_land" value = "9"/>	<!--3-->
		<param name="landing_vel" value = "0.07"/>	 <!--max landing vel 0.1m/s-->
		<param name="scale_factor" value = "0.4"/>	 <!--landing vel scale in small stage, 0.5-->
    <param name="landoverH" value = "0.2"/> <!--0.2m--> <!--Height lower than landoverH or tag distance lower than landoverH_tag, land-->
    <param name="landoverH_tag" value = "0.1"/> <!--0.1m-->			 
	</node>
</group>

<group ns="$(arg ns2)">
        <!-- MAVROS and vehicle configs -->
  	<arg name="sdf" default="$(find uavros_gazebo)/models/iris_usb_camera_down/iris_usb_camera_down.sdf"/>
        <arg name="ID" value="2"/>
        <arg name="cam_namespace" value="$(arg ns2)"/>
        <arg name="x_pos" value="-1"/>
        <arg name="y_pos" value="-0.4"/>
        <arg name="z_pos" value="1.5"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find uavros_gazebo)/launch/single_iris_usbcam_down.launch">
            <arg name="x" value="$(arg x_pos)"/>
            <arg name="y" value="$(arg y_pos)"/>
            <arg name="z" value="$(arg z_pos)"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="1.570796"/>
            <arg name="sdf" value="$(arg sdf)"/> <!--add by spx-->
            <arg name="camNamespace" value="$(arg cam_namespace)"/> <!--add by spx-->
            <arg name="mavlink_udp_port" value="$(eval 14560 + arg('ID'))"/>
            <arg name="mavlink_tcp_port" value="$(eval 4560 + arg('ID'))"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <arg name="fcu_url" default="udp://:14542@localhost:14582"/>
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>

  <arg name="smallMarker_size" value="12.92"/> <!--cm-->
  <arg name="bigMarker_size" value="38.76"/> <!--cm-->

	<include file="$(find uavros_artaglanding_sitl)/launch/ar_track_camera_sitl.launch" >
		<arg name="marker_size" value="$(arg smallMarker_size)" />
	</include>

	<node pkg="uavros_artaglanding_sitl" type="landing_control_p200_node" name="landing_control_p200_node" output="screen" >
		<param name="search_alt_" value = "3.5"/>	<!--2.2m-->
		<param name="small_marker_id" value = "2"/>  
		<param name="big_marker_id" value = "8"/> 
		<param name="big_marker_size" value = "$(arg bigMarker_size)"/>
		<param name="small_marker_size" value = "$(arg smallMarker_size)"/>
		<param name="PidXY_p" value = "0.7"/>	<!--0.5-->
		<param name="PidXY_d" value = "0.1"/>	
		<param name="PidXY_i" value = "0"/>	<!--should be 0-->
		<param name="PidZ_p" value = "0.08"/>	<!--no use-->
		<param name="PidZ_d" value = "0"/>	<!--no use-->
		<param name="PidZ_i" value = "0"/>	<!--should be 0-->
		<param name="PidYaw_p" value = "0.13"/>	<!--0.13-->
		<param name="PidYaw_d" value = "0"/>	
		<param name="PidYaw_i" value = "0"/> <!--should be 0-->
  <!--降准的关键：高度高，下降速度小-->
		<param name="Thres_count_approach" value = "20"/>	<!--9-->
		<param name="Thres_count_small" value = "35"/>	<!--35-->
		<param name="Thres_height_small" value = "1.6"/>	<!-- lower than 1m then switch to small tag -->
		<param name="Thres_count_land" value = "9"/>	<!--3-->
		<param name="landing_vel" value = "0.07"/>	 <!--max landing vel 0.1m/s-->
		<param name="scale_factor" value = "0.4"/>	 <!--landing vel scale in small stage, 0.5-->
    <param name="landoverH" value = "0.2"/> <!--0.2m--> <!--Height lower than landoverH or tag distance lower than landoverH_tag, land-->
    <param name="landoverH_tag" value = "0.1"/> <!--0.1m-->			 
	</node>
</group>


<group ns="$(arg ns3)">

    <arg name="ID" value="3"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <arg name="vehicle" default="rover"/>
    <arg name="sdf" default="$(find uavros_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <arg name="urdf" default="$(find uavros_gazebo)/models/$(arg vehicle)/$(arg vehicle).urdf"/>
    <param name="robot_description" textfile="$(arg urdf)" /> <!-- import robot_description of urdf model just for gazebo_ros plugin for controller_manager-->
    <param name="robot_description_sdf" textfile="$(arg sdf)" />
    <node name="$(arg vehicle)$(arg ID)_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param robot_description_sdf -model $(arg vehicle)$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

	<!-- 从yaml文件加载联合控制器的参数 -->
	<rosparam file="$(find uavros_gazebo)/config/$(arg vehicle)_config/ctrl.yaml" command="load"/>
	<!-- 加载控制器 spawner -->
	<node name="controller_manager" pkg="controller_manager" type="spawner" 
	      respawn="false" output="screen" 
	      args="left_steering_hinge_position_controller right_steering_hinge_position_controller
			left_front_wheel_velocity_controller right_front_wheel_velocity_controller
			left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller
			joint_state_controller"/>

	<node pkg="uavros_gazebo" type="rover_servo_commands.py" name="servo_commands" output="screen">
	</node>

	<!--node pkg="uavros_gazebo" type="rover_keyboard_control.py" name="rover_keyboard_control" output="screen">
	</node-->
</group>

  <arg name="enable_tune_gui" default="false"/>
  <group if="$(arg enable_tune_gui)">
    <node name="rover_tune_gui" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find uavros_gazebo)/config/rover_config/rover_tune.perspective"/>
  </group>

  <arg name="rqt_image" default="true"/>
  <group if="$(arg rqt_image)">
    <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view1" output="screen">
    </node>
    <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view2" output="screen">
    </node>
  </group>

  <arg name="visualization" default="false"/>
  <group if="$(arg visualization)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find uavros_artaglanding_sitl)/config/rviz_single.rviz" />
  </group>


</launch>
