<?xml version="1.0"?>
<model>
  <name>gimbal camera</name>
  <version>1.0</version>
  <sdf version="1.5">gimbal_uavros.sdf</sdf>

  <author>
   <name>Peixuan Shu</name>
   <email>shupeixuan@qq.com</email>
  </author>

  <description>
    This is a model of the gimbal camera get from typhoon h480.
  </description>
</model>
