<?xml version="1.0"?>
<model>
  <name>3DR Solo with gimbal camera</name>
  <version>1.0</version>
  <sdf version="1.5">solo_gimbal.sdf</sdf>

  <author>
   <name>Peixuan Shu</name>
   <email>shupeixuan@qq.com</email>
  </author>

  <description>
    This is a model of the 3DR Solo with gimbal camera.
  </description>
</model>
