<launch>
    <node pkg="tf" type="static_transform_publisher" name="world_to_cam" args="0 0 0 -1.57 0 -1.57 camera_odom_frame usb_cam_link 10" />
        <!--map usb_cam_link 都是 frame_id. 这里切记 args 里边的结果 x,y,z 以及rpy会累加计算到-->

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" launch-prefix="gnome-terminal --tab -e" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1920" /> <!--1920-->
    <param name="image_height" value="1080" /> <!--1080-->
    <param name="pixel_format" value="mjpeg" /><!--yuyv-->
    <param name="camera_frame_id" value="usb_cam_link" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="1"/> <!--useless-->
    <param name="framerate" value="30"/>
    <param name="camera_info_url" value="file://$(find uavros_artaglanding)/config/cam29mm_tx2.yaml"/>
  </node>

    <arg name="marker_size" default="5.3" /> <!--5.3-->
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/usb_cam/image_raw" />
    <arg name="cam_info_topic" default="/usb_cam/camera_info" />
    <arg name="output_frame" default="/usb_cam_link"/>
        
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
        <param name="marker_size"           type="double" value="$(arg marker_size)" />
        <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
        <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
        <param name="output_frame"          type="string" value="$(arg output_frame)" />

        <remap from="camera_image"  to="$(arg cam_image_topic)" />
        <remap from="camera_info"   to="$(arg cam_info_topic)" />
    </node>



</launch>
