<launch>

  <arg name="world_path" default="$(find uavros_gazebo)/worlds/lawn.world" />
  <arg name="vehicle" default="iris" />

  <include file="$(find uavros_gazebo)/launch/px4_gazebo_sitl.launch">
    <arg name="world" value="$(arg world_path)" />
    <arg name="vehicle" value="$(arg vehicle)" />   
  </include>

<group ns="uav1">

    <include file="$(find uavros_gazebo)/launch/mavros_px4.launch">
    </include>

    <arg name="altitude" default = "2.5"/>
    <node pkg="uavros_uavugv_sitl" type="uav_controller_node" name="uav_controller" output="screen">
        <param name="alt_sp" value = "$(arg altitude)"/>
    	  <param name="Kp_x" value = "1"/>
        <param name="Kp_y" value = "1"/>
        <param name="Kv_x" value = "0.7"/>
        <param name="Kv_y" value = "0.7"/>
    </node>

    <node pkg="uavros_uavugv_sitl" type="leader_estimator_node" name="leader_estimator" output="screen">
        <param name="alt_sp" value = "$(arg altitude)"/>
        <param name="alpha" value = "5"/>
        <param name="neighbor1_name" value = "ugv3"/>
    </node>
</group>
  
  <arg name="visualization" default="true"/>
  <group if="$(arg visualization)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find uavros_uavugv_sitl)/config/rviz_single.rviz" />
  </group>

</launch>
