<?xml version="1.0"?>

<model>
  <name>usb cam</name>
  <version>1.0</version>
  <sdf version="1.5">usb_cam_uavros.sdf</sdf>

  <author>
    <name>Peixuan Shu</name>
    <email></email>
  </author>

  <description>
    A Depth Camera with robotNamespace and modified ros topic
  </description>
</model>
