<?xml version="1.0"?>

<model>
  <name>rangerev_landingpad</name>
  <version>1.0</version>
  <sdf version="1.5">rangerev_landingpad.sdf</sdf>

  <author>
    <name>Peixuan Shu</name>
    <email>shupx@buaa.edu.cn</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Nate Koenig</name>
    <email>natekoenig@gmail.com</email>
  </author>

  <description>
    A model of polaris ranger ev with landing pad.
  </description>

</model>
