<launch>

  <!--arg name="world_path" default="$(find uavros_gazebo)/worlds/lawn.world" /-->
  <arg name="world_path" default="$(find uavros_gazebo)/worlds/empty.world" />
  <arg name="vehicle" default="iris" />
  <arg name="sdf" default="$(find uavros_gazebo)/models/iris_usb_camera_down/iris_usb_camera_down.sdf"/>

  <include file="$(find uavros_gazebo)/launch/px4_gazebo_sitl.launch">
    <arg name="world" value="$(arg world_path)" />
    <arg name="vehicle" value="$(arg vehicle)" /> 
    <arg name="sdf" value="$(arg sdf)" />
  </include>

    <include file="$(find uavros_gazebo)/launch/mavros_px4.launch">
    </include>


    <node pkg="uavros_wrzf_sitl" type="uav_controller_node" name="uav_controller" output="screen">
        <param name="arrive_alt" value = "7.0"/>
        <param name="track_alt" value = "6.0"/>
        <param name="hover_yaw_rad" value = "0.75"/>
        <param name="vxy_max" value = "3"/>
        <param name="acc_max" value = "1"/>
        <param name="Kp" value = "1.0"/>
        <param name="Ki" value = "0.0"/>
        <param name="Kd" value = "0.0"/>
        <param name="car_initposx" value = "3.0"/>
        <param name="car_initposy" value = "2.0"/>
    </node>

    <node pkg="uavros_wrzf_sitl" type="message_jc2fk.py" name="message_jc2fk" output="screen">
	<param name="txt_filepath" value = "$(find uavros_wrzf_sitl)/script/jc2fk.txt"/>
    </node>


  <!-- spawn "car0" robot -->
  <!-- <include file="$(find nexus_4wd_mecanum_gazebo)/launch/spawn_one_nexus_4wd_mecanum.launch"> -->
  <include file="$(find nexus_4wd_mecanum_gazebo)/launch/spawn_one_nexus_4wd_mecanum.launch">
    <arg name="robot_name" value="ugv0" />
    <arg name="pose_x" value="3" />
    <arg name="pose_y" value="2" />
  </include>

  <arg name="pid_gui" default="false"/>
  <group if="$(arg pid_gui)">
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />
  </group>

  <arg name="visualization" default="false"/>
  <group if="$(arg visualization)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find uavros_uavugv_sitl)/config/rviz_single.rviz" />
  </group>

</launch>
